#fundo
  #conteudo
    .title-section
      Quem somos
    .text
      - if @whoarewe.present?
        = @whoarewe.description
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec venenatis porta pellentesque. Curabitur sollicitudin nisi non justo bibendum commodo. Aliquam erat volutpat. Phasellus odio quam, mattis sed interdum et, ornare in nulla. Vivamus sit amet interdum justo. Curabitur sodales, mi vitae tempor laoreet, augue nibh mollis nibh, eget semper tortor sem et tellus. Sed pretium aliquet arcu venenatis iaculis. Sed ullamcorper arcu eu dui lacinia feugiat. Integer mi sem, aliquet et commodo eleifend, varius id ligula. Integer fermentum fringilla consequat. Morbi imperdiet ultricies ante id congue.
        %br
        %br
        Sed sagittis, dolor eget mattis tincidunt, neque lectus gravida leo, sed laoreet quam libero tincidunt neque. Duis felis justo, mollis eget semper et, pretium at mauris. Mauris malesuada, libero vel luctus gravida, lorem velit fermentum nisl, et dictum mauris sapien sed lacus. Mauris a blandit sem. Vivamus eget augue est. Vestibulum feugiat, augue vitae sodales rutrum, leo nisl pretium sem, vitae lobortis odio lectus eget arcu. Vivamus volutpat nisi vel nulla pellentesque sagittis. Integer cursus, erat in auctor convallis, nulla augue imperdiet sapien, in ullamcorper ante lectus vitae sem. Quisque malesuada congue ante, sit amet aliquet dui mattis et. Phasellus at mauris est, eu scelerisque leo. Quisque sed fringilla mauris. Aenean eleifend mattis mattis. Nam cursus elit vitae nunc congue id aliquet lectus posuere. Suspendisse fringilla, lectus et sollicitudin ultricies, ipsum ipsum pretium erat, in euismod turpis ipsum quis felis. Aenean varius turpis ut sem tempor ac sagittis nibh accumsan. Integer non nibh ante, ac egestas lorem.
        %br
        %br
        Duis in lorem nulla. Curabitur pulvinar placerat ligula non placerat. Integer rutrum feugiat sem vel convallis. Mauris rhoncus pretium ligula semper sollicitudin. Pellentesque fringilla massa sed sapien auctor at tincidunt massa dignissim. Proin ac varius erat. Vestibulum id nibh tortor, ut feugiat eros. Curabitur imperdiet ligula eu risus consequat suscipit. Cras elementum semper nibh in elementum. Duis bibendum ultrices diam eu molestie.
