#fundo
  #conteudo
    .title-section
      Lista de contatos
    .contact_form
      %table.adm
        %tr
          %th Nome
          %th Email
          %th
        - @contacts.each do |contact|
          %tr
            %td.name= contact.name
            %td= contact.email
            %td= link_to 'Apagar', contact, confirm: 'Você tem certeza?', method: :delete
      %br/
      = link_to 'Novo contato', new_contact_path
