// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a.delicious_item
  float: left
  width: 150px
  height: 80px
  
a.delicious_item img

body
  background: url(bg.jpg)
  font-family: Arial, sans-serif

body, a, img, ul, li
  border: 0
  margin: 0
  padding: 0
  list-style-type: none

#menu
  background: url(menu.jpg)
  width:  100%
  height:  40px
  margin-top: 65px
  font-family: 'Leckerli One', sans-serif

#menu a:hover

#menu-content
  width: 980px
  margin-left: auto
  margin-right: auto
  text-align: right

#menu-content ul
  padding-left: 180px

#menu-content ul li
  float: left
  color: white
  margin-right: 30px
  height: 40px
  line-height: 39px

#menu-content ul li a
  color: white
  text-decoration: none

#logo
  position: absolute
  margin-top: -60px