// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a.delicious_item
  float: left
  width: 150px
  height: 80px
  
a.delicious_item img

body
  background: url(bg.jpg)
